kind: Deployment
apiVersion: apps/v1
metadata:
  name: backend-deployment
  namespace: chat-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend-pod
      namespace: chat-app
      labels:
        app: backend
    spec:
      containers:
        - name: chatapp-backend
          image: gitika1408/chatapp-backend:latest
          ports:
          - containerPort: 5000
          env:
          - name: NODE_ENV
            value: production
          - name: PORT
            value: "5000"
          - name: JWT_SECRET
            valueFrom:
              secretKeyRef:
                name: chatapp-secrets
                key: jwt
          - name: MONGODB_URI
            valueFrom:
              secretKeyRef:
                name: chatapp-secrets
                key: MONGODB_URI
          - name: CLOUDINARY_CLOUD_NAME
            valueFrom:
              secretKeyRef:
                name: chatapp-secrets
                key: CLOUDINARY_CLOUD_NAME
          - name: CLOUDINARY_API_KEY
            valueFrom:
              secretKeyRef:
                name: chatapp-secrets
                key: CLOUDINARY_API_KEY
          - name: CLOUDINARY_API_SECRET
            valueFrom:
              secretKeyRef:
                name: chatapp-secrets
                key: CLOUDINARY_API_SECRET



